<!DOCTYPE html>
<html>
    <head>
        <title>@Page.Title</title>
        <script src="~/Scripts/jquery-1.10.2.min.js"></script>
        @RenderSection("head", required: false)
    </head>
    <body>
        @RenderBody()
        <div>Thiasassasdsasasas asas is some text edited from the browser saidjisd</div>
    </body>
</html>
